body {
	font-family: Arial, Verdana, sans-serif;
	margin: 2em;
}

header {
	background-color: #FFCC66;
	padding-bottom: 1.5em;
	margin-bottom: 1em;
	border-bottom: 1px solid black;
}

header h1 {
	margin: 0;
	padding-top: 0.3em;
	padding-left: 0.3em;
}

header h2 {
	margin: 0;
	padding-left: 1.2em;
	font-style: italic;
	font-weight: normal;
}

div#content {
	display: table-row;
}

div#content aside {
	border-right: 1px solid black;
}

div#content aside,
div#content div#page-content {
	display: table-cell;
	margin: 1em;
	padding: 1em;
}

form ul {
	list-style: none;
	padding: 0;
}

fieldset {
	padding: 0.3em;
	margin-top: 1em;
}

fieldset ul {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.3em 0;
}